{% extends "cccga/base.html" %}

{% block download_active %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row">


		<div class="col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title" style="font-weight: bold;">Download the data of somatic mutations</div>
            </div>
            <div class="panel-body" style="height:720px;">
              <p style="font-size:16px;margin:50px;">
				  MAF File: <a href="https://changkang.hapyun.com/static/download/SYSUCC_CRC_Mutation_withSilent.zip" target="_blank">SYSUCC_CRC_Mutation_withSilent.zip</a>
			  </p>
              <br>
            </div>
          </div>
        </div>


	</div>
</div>
{% endblock %}
